# Murder Mystery

In [4]:
import pandas as pd
from pandasql import sqldf
import sqlite3

In [5]:
mysql = lambda q: sqldf(q, globals())

In [10]:
con = sqlite3.connect('sql-murder-mystery.db')

In [14]:
cursor = con.cursor()
print('DB Init')

DatabaseError: Execution failed on sql '
SELECT * FROM con LIMIT 5
': no such table: con